.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(126, 50, 15);
    margin: 20px;
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    flex-wrap: wrap;
    width: 300px;    
}

.image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

li{
    padding: 5px;
}